# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.idea/
*.iml
*.log
build/
*.class

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

caches/
*.lock